<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409582649419-j3ler20j0fklont9ivpeud6lmq7hkkqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409582649419-j3ler20j0fklont9ivpeud6lmq7hkkqn</string>
	<key>API_KEY</key>
	<string>AIzaSyCpM03LmVkPjfoczW0H27qVMlUQcshRxkw</string>
	<key>GCM_SENDER_ID</key>
	<string>409582649419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exam24h.ieltshunter</string>
	<key>PROJECT_ID</key>
	<string>ieltshunter-65a03</string>
	<key>STORAGE_BUCKET</key>
	<string>ieltshunter-65a03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409582649419:ios:7e29c04221204b234c0dce</string>
</dict>
</plist>