<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324230645762-jp5bnjfqm2f4uv4riqb1g16rfida70if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324230645762-jp5bnjfqm2f4uv4riqb1g16rfida70if</string>
	<key>API_KEY</key>
	<string>AIzaSyAao_gInXz_ph4IPoCv1aCqa7PCtKn6_is</string>
	<key>GCM_SENDER_ID</key>
	<string>324230645762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.ielts.ikes</string>
	<key>PROJECT_ID</key>
	<string>ikes-1ffb5</string>
	<key>STORAGE_BUCKET</key>
	<string>ikes-1ffb5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324230645762:ios:a5b67ac72c6991b6b27f1b</string>
</dict>
</plist>