<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543656532685-ea3og352pgjtb382rlhmhdl983upijma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543656532685-ea3og352pgjtb382rlhmhdl983upijma</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>543656532685-2frchamcsscg7alj5vpfsu5vgn3qr2mj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGLuu5bszXL87fejvqbgXbcBPllvBbzWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>543656532685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ikigroup.ikicoach</string>
	<key>PROJECT_ID</key>
	<string>ikigai-coach</string>
	<key>STORAGE_BUCKET</key>
	<string>ikigai-coach.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543656532685:ios:8806647b070745bad0a784</string>
</dict>
</plist>